.root {
    -fx-background-color: linear-gradient(to bottom, #0B63C5, #1287D9);
}

.combo-box, .combo-box-base {
    -fx-background-color: white;
    -fx-text-fill: #0A4FA3;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-background-radius: 8px;
    -fx-font-size: 13px;
    -fx-border-color: transparent;
}


.text-field {
    -fx-background-color: white;
    -fx-padding: 8px;
    -fx-background-radius: 8px;
    -fx-font-size: 13px;
}

.spinner, .spinner .text-field {
    -fx-background-color: white;
    -fx-padding: 8px;
    -fx-background-radius: 8px;
    -fx-font-size: 13px;
}

.button {
    -fx-background-color: white;
    -fx-text-fill: #0A4FA3;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-background-radius: 8px;
    -fx-font-size: 13px;
}

.button:hover {
    -fx-background-color: #f2f7ff;
}

.table-view {
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-padding: 10;
}

.table-view .column-header,
.table-view .filler {
    -fx-background-color: #0B63C5;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-row-cell {
    -fx-background-color: white;
}

.table-row-cell:filled:selected {
    -fx-background-color: #d6eaff;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.floating-card {
    -fx-background-color: white;
    -fx-background-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.2, 0, 2);
}
